<div class="space-y-3 shadow p-2">
    <figure>
        <img src="{%IMAGE%}" class="w-full object-cover" alt="">
    </figure>
    <h4 class="text-lg font-bold">{%TITLE%}</h4>
    <p class="text-sm opacity-75">{%CATEGORY%}</p>
    <p class="text-sm font-bold text-blue-500 font-medium">${%PRICE%}</p>
    <p class="text-sm opacity-75 line-clamp-2">{%DESCRIPTION%}</p>
    <a href="/product?id={%SLUG%}"
        class="w-full text-center block py-2 px-3 border-t-2 hover:bg-blue-500 hover:text-white">View</a>
</div>